@model SPG.prodaje_biljaka

@{
    ViewBag.Title = "Delete";
}

<h2>Izbriši prodaju</h2>

<h3>Jeste li sigurni da želite izbrisati podatke o ovoj prodaji?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Količina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kolicina)
        </dd>

        <dt>
            Profit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profit)
        </dd>

        <dt>
            Biljka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.berbe.sadnje.biljke.naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" />
        </div>
    }
</div>
