@model SPG.prodaje_biljaka

@{
    ViewBag.Title = "Details";
}

<h2>Detalji prodaje</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Količina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kolicina)
        </dd>

        <dt>
            Profit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profit)
        </dd>

        <dt>
            Biljka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.berbe.sadnje.biljke.naziv)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-basic">@Html.ActionLink("Ispiši u PDF-u", "PrintToPdf", new { id = Model.id })</button>
</p>
