@{
    ViewBag.Title = "About";
}


<div id="about" class="container">

    <div id="logo" class="col-12 my-5 row justify-content-center">
        <img src="~/Content/img/logo.png" class="img-fluid" alt="Mario">
    </div>

    <div id="vizija" class="my-5 row d-flex flex-column">
        <h4>VIZIJA PROJEKTA</h4>
        <p class="my">
            "SPG je sustav za vođenje evidencije o pojedinim ili udruženim poljoprivrednim gospodarstvima. Aplikacija olakšava administrativne<br />
            i znanstvene poslove vezane uz sveukupno upravljanje nekim poljoprivrednim gospodarstvom, kao i evidentiranje nekih drugih stvari<br />
            koje se vežu za to poljoprivredno gospodarstvo. Korisnici aplikacije su gore navedena poljoprivredna gospodarstva. <br />
            Evidencija gospodarstva se sastoji od praćenja radnji i usluga koje se pružaju na samom poljoprivrednom gospodarstvu. Korisnik može<br />
            unijeti podatke o svojim imanjima, o uzgoju i biljka i životinja, te u svomu vlasništvu može imati određeni broj parcela/zemljišta<br />
            o kojima se unose podaci vezani uz lokaciju, poziciju, dimenzije, značajke o tlu itd. Također korisnik može imati jednu ili <br />
            više farmi, te mu je omogućeno unošenje podataka o uzgoju domaćih životinja iz različitih skupina."<br />
        </p>
    </div>


    <div id="Onama" class=" row flex-column d-flex justify-content-end text-right">
        <h4>O NAMA</h4>
        <p>
            Studenti FSRE-a u Mostaru, na smjeru računarstva. Kao zadatak iz predmeta Programsko Inžejerstvo, na šestom semestru studija (2017./'18.), napravili smo ovaj sustav (SPG),
            za jednostavnije i preglednije upravljanje vlastitim gospodarstvima.
        </p>
    </div>

    <div id="mi" class="d-flex row my-5 justify-content-between align-items-center">
        <div class="left col-6 row">
            <img src="~/Content/img/mario.jpg" class="rounded-circle" alt="Mario">
            <p>
                <b>Mario Rajič</b><br />
                Broj indexa: 1364/RR<br />
                E-mail: mario.rajic@student.fsr.ba
            </p>
        </div>
        <div class="right col-6 row justify-content-end">
            <p>
                <b>Robert Rozić</b><br />
                Broj indexa: 1404/RR<br />
                E-mail: robert.rozic@student.fsr.ba
            </p>
            <img src="~/Content/img/roza.png" class="rounded-circle" alt="Mario">
        </div>
    </div>

    <div id="mi" class=" d-flex row my-5 justify-content-between align-items-center">
        <div class="left col-6 row">
            <img src="~/Content/img/valentina.jpg" class="rounded-circle" alt="Mario">
            <p>
                <b>Valentina Radić</b><br />
                Broj indexa: 1424/RR<br />
                E-mail: valentina.radic@student.fsr.ba
            </p>
        </div>
        <div class="right col-6 row justify-content-end">
            <p>
                <b>Leo Primorac</b><br />
                Broj indexa: 1380/RR<br />
                E-mail: leo.primorac@student.fsr.ba
            </p>
            <img src="~/Content/img/leo.jpg" class="rounded-circle" alt="Mario">
        </div>
    </div>

    <div id="mi" class=" d-flex row my-5 justify-content-between align-items-center">
        <div class="left col-6 row">
            <img src="~/Content/img/matea.jpg" class="rounded-circle" alt="Mario">
            <p>
                <b>Matea Miličević</b><br />
                Broj indexa: 1392/RR<br />
                E-mail: matea.milicevic@student.fsr.ba
            </p>
        </div>
        <div class="right col-6 row justify-content-end">
            <p>
                <b>Ivan Ostojić</b><br />
                Broj indexa: 1387/RR<br />
                E-mail: ivan.ostojic@student.fsr.ba
            </p>
            <img src="~/Content/img/osta.jpg" class="rounded-circle" alt="Mario">
        </div>
    </div>
</div>