@{
    ViewBag.Title = "About";
}


<div id="about" class="row">
    <div id="vizija" class="col-12 d-flex flex-column">
        <h4>VIZIJA PROJEKTA</h4>
        <p class="my">
            "SPG je sustav za vođenje evidencije o pojedinim ili udruženim poljoprivrednim gospodarstvima. Aplikacija olakšava administrativne<br />
            i znanstvene poslove vezane uz sveukupno upravljanje nekim poljoprivrednim gospodarstvom, kao i evidentiranje nekih drugih stvari<br />
            koje se vežu za to poljoprivredno gospodarstvo. Korisnici aplikacije su gore navedena poljoprivredna gospodarstva. <br />
            Evidencija gospodarstva se sastoji od praćenja radnji i usluga koje se pružaju na samom poljoprivrednom gospodarstvu. Korisnik može<br />
            unjeti podatke o svojim imanjima, o uzgoju i biljka i životinja, te u svomu vlasništvu može imati određeni broj parcela/zemljista<br />
            o kojima se unosi podatci vezani uz lokaciju, poziciju, dimenzije, značajke o tlu, itd. Također korisnik može imati jednu ili <br />
            više farmi, te mu je omkogućeno unošenje podataka o uzgoju  domaćih životinja iz različitih skupina."<br />
        </p>
    </div>


    <div id="Onama" class="col-12 row d-flex justify-content-end">
        <div class="col-6 flex-center flex-column text-right">
            <h4>O NAMA</h4>
            <p>
                PROGRAMSKO INŽINJERSTVO <br />
                FSRE, MOSTAR <br />
                2017/2018<br />
                Valentina Radić, Matea Miličević, Mario Rajič, <br />
                Robert Rozić, Leo Primorac, Ivan Ostojić<br />
            </p>
        </div>
    </div>
    <div id="mi" class="row my-5">
        <div id="prvi" class="col-12 col-md-6 row justify-content-left ">
            <div id="slika" class="col-6 justify-content-right">
                <div>
                    <img class="img-fluid" src="~/Content/img/logo.png">
                </div>
                <div>
                    <img class="img-fluid" src="~/Content/img/logo.png">
                </div>
                <div>
                    <img class="img-fluid" src="~/Content/img/logo.png">
                </div>

            </div>

            <div id="opis" class="col-6 justify-content-right">
                <div>
                    <p>
                        robert Rozić
                    </p>
                </div>
                <div>
                    <p>
                        Leo Primorac
                    </p>
                </div>
                <div>
                    <p>
                        Ivan Ostojić
                    </p>
                </div>
            </div>

        </div>
        <div id="drugi" class="col-12 col-md-6 row justify-content-right ">
            <div id="opis1" class="col-6 justify-content-left">
                <div>
                    <p>
                        Valentina Radić
                    </p>
                </div>
                <div>
                    <p>
                        Matea Miličević
                    </p>
                </div>
                <div>
                    <p>
                        Mario Rajič
                    </p>
                </div>

            </div>

            <div id="slika1" class="col-6 justify-content-right">
                
                    <div>
                        <img class="reklame img-fluid" src="~/Content/img/logo.png">
                    </div>
                    <div>
                        <img class="reklame img-fluid" src="~/Content/img/logo.png">
                    </div>
                    <div>
                        <img class="reklame img-fluid" src="">
                    </div>
                    
                </div>

            </div>
    </div>
</div>