@model SPG.gospodarstva

@{
    ViewBag.Title = "Home Page";
}

<div class="row flex-center">

    <div class="col-12 col-lg-6 row flex-center flex-column">
        <img src="~/Content/img/logo.png" alt="Sustav za poljoprivredna gospodarstva">
        @Html.ActionLink("Odjavi se", "Logout", "Home")
    </div>
</div>