@model SPG.servisi_mljekomata

@{
    ViewBag.Title = "Izbriši";
}

<h2>Brisanje servisa</h2>

<h3>Jeste li sigurni da želite pobrisati podatke o servisu?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            Troškovi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.troskovi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" />
        </div>
    }
</div>
