@model SPG.berbe

@{
    ViewBag.Title = "Details";
}

<h2>Detalji berbe</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            Količina berbe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kolicina)
        </dd>

        <dt>
            Ukupno posađeno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sadnje.kolicina)
        </dd>

        <dt>
            Sezona
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sezone.sezona)
        </dd>

    </dl>
</div>
