body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* App */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin-right: 30px;
}

.nav1 a {
    text-decoration: none;
    color: black !important;
    border-bottom: 1px solid;
}

.active {
    text-decoration: none !important;
    color: black !important;
    border: 1px solid black;
    border-bottom: 0px;
}

.nav1 {
    background-color: transparent;
    text-decoration-color: black !important;
}
