body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* App */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: dimgrey;
}

    a:hover {
        text-decoration: none !important;
        color: black !important;
    }
/* Form */
.pi-form input {
    border: none;
    border-radius: 0;
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
}

.pi-form .form-group {
    border-bottom: 1px solid black;
}

.pi-form label {
    margin-bottom: 0;
}

.pi-form .form-control {
    border: none;
    border-radius: 0;
    text-align: center;
    font-size: 0.9rem;
}

.pi-form button {
    width: 100%;
    background: transparent;
    border: 1px solid black;
}

.form-links a {
    font-size: 0.8rem;
    color: dimgrey;
}
