body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* App */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.nav1 {
    background-color: transparent;
    text-decoration-color: black !important;
}

.nav1 li {
  border-bottom: 1px solid black;  
}

.nav1 li:hover {
   background: rgba(0, 0, 0, 0.1);
}

.nav1 li + li{
    margin-left: 20px;
}

.nav1 .active {
    border: 1px solid black;
}

#mi {
    padding-left: 20 px;
    padding-right: 20 px;
}

.left p {
    padding-left: 50px;
}
.right p{
    padding-right: 50px;
}
.left {
    border-right: 2px solid black;
}

#mi img{
    max-height: 200px;
}
.nav-link.active {
    background-color: white !important;
    border: 1px black solid;
    border-radius: 0px;
}