@model SPG.mljekomati

@{
    ViewBag.Title = "Briši";
}

<h2>Brisanje mljekomata</h2>

<h3>Jeste li sigurni da želite izbrisati ovaj mljekomat?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Lokacija
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lokacija)
        </dd>

        <dt>
            Kapacitet
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kapacitet)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši mljekomat" class="btn btn-default" /> |
            @Html.ActionLink("Natrag na listu", "Index")
        </div>
    }
</div>
