@model SPG.zadruge

@{
    ViewBag.Title = "Delete";
}

<h2>Izbriši</h2>

<h3>Jeste li sigurni da želite izbrisati ovu zadrugu?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" />
        </div>
    }
</div>
