@model SPG.zadruge

@{
    ViewBag.Title = "Details";
}

<h2>Detalji o zadruzi</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Nazad na listu", "Index")
</p>
