<nav class="navbar navbar-expand-lg navbar-light  navbar-fixed-top nav1">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="@Url.Action("About","Home")" class="nav-link">
                        O projektu<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Prijava", "Login", "Home", new { }, new { @Class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Registracija", "Register", "Home", new { }, new { @Class = "nav-link" })
                </li>
            </ul>
        </div>
    </div>
</nav>